# Configuración del Servidor
PORT=4000

# Conexión a MongoDB (Reemplazar con tu propia URI de Atlas)
MONGO_URI=mongodb+srv://<usuario>:<password>@cluster.xxxxx.mongodb.net/lexi?retryWrites=true&w=majority
